@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.banner-background {
  background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  animation: scrollBg 20s linear infinite;
}
